<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.text_field :commenter,type: :hidden ,class: "p-2 border border-violet-500 rounded-md", size: "60x10", value: @article.title%>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body ,class: "p-2 border border-violet-500 rounded-md", size: "60x10"%>
  </p>
  <p>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' ,class: "p-2 border border-violet-500 rounded-md"%>
</p>
<p>
  <%= form.number_field :user_id,type: :hidden, value: current_user.id %><br>
<p>
  <p>
    <%= form.submit class: "bg-violet-600 text-white rounded-md w-[100px] ml-auto mt-10 py-2 btn btn-dark"%>
  </p>
<% end %>



