
<div>
<br><br>
<h2>EDIT COMMENT</h2>
<br>
<%= form_with url: update_comment_path(@comment.id), method: :put do |form| %>
  <p>
<%= form.label :commenter, "commenter :"%>
  <%= form.text_field :commenter,class: "p-2 border border-violet-500 rounded-md", size: "60x10", value: @comment.commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body,class: "p-2 border border-violet-500 rounded-md", size: "60x10", value: @comment.body%>
  </p>
  <p>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</p>
<br>
  <p>
    <%= form.button class: "bg-violet-600 text-white rounded-md w-[100px] ml-auto mt-10 py-2 btn btn-dark"%>
  </p>
<% end %>
</div>







