<p style="color: green"></p>
<div>
  <% @articles.each.with_index do |article, index| %>
<% unless article.archived? %>
<div class="card text-center">
  <div class="card-header bg-info">
  <h4>
  <%= article.title %>
  </h4>
  </div>
  <div class="card-body">
    <p class="card-text"> <%= article.body %></p>
    <%= link_to "show", article, class:"btn btn-dark" %>
  </div>
</div>
<br>
<% end %>
<% end %>




<% if user_signed_in?%>
<%= link_to "New Post", new_article_path,class:"btn btn-dark" %>
<%end%>
<br><br>
</div>








