<div>
<p style="color: green"></p>
  <div class="bg-light clearfix">
  <div>
  <div class="card text-center">
    <div class="card-header bg-info">
      <h3 class="card-title"><%= @article.title %></h3>
    </div>
    <div class="card-body">
         <blockquote class="blockquote mb-0">
      <p class="card-text"><%= @article.body %>.</p>
      </blockquote>
    </div>
      <%if user_signed_in?%>
      <% if current_user.id == @article.user_id%>
        <div class="pull-left bg-light">  <ul>
          <%= link_to "Edit", edit_article_path(@article),class:"btn btn-dark" %>
          <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  },class:"btn btn-dark" %>
          </ul></div>
          <% end%>
        </div>
</div>
</div>
</section>
<br><br>
<h2 class = "text-center">Comments</h2>
<p style="color: green"></p>

<div>
<%= render @article.comments %>
<br> <br>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
</div>
</div>
<%end%>














